h1 {
  text-align: center;
  color: ;
}
#title {
  margin-bottom: 45px;
  margin-top:20px;
}
.limit {
  padding-right: 15px;
  padding-left: 15px;
}
#htmllogo {
  margin-right: 10px;
  margin-bottom: -5px;
}
#csslogo {
  margin-right: 7px;
  margin-bottom: -6px;
}